@model АПТ_Core.Models.Stud

@{
    ViewData["Title"] = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Im)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Im)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.St_Ball)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.St_Ball)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stipendiya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stipendiya)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Студенты</a>
</div>
