@model IEnumerable<АПТ_Core.Models.Stud>

@{
    ViewData["Title"] = "Студенты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Студенты</h1>

<p>
    <a asp-action="Create">Новый студент</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Im)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.St_Ball)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stipendiya)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Im)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_Ball)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stipendiya)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
